nav
    border-top: 1px solid #cdcdcd
    border-bottom: 1px solid #cdcdcd
    display: flex
    justify-content: center
    width: 100vw
    ul
        display: flex
        justify-content: center
        align-items: center
        li  
            list-style-type: none
            font-size: 18px
            font-weight: bold
            border-left: 1px solid #cdcdcd
            position: relative
            padding:10px
            display: flex
            flex-direction: column
            cursor: pointer
            a
                color:#000000
                padding: 0 20px
                width: 100%
                text-decoration: none
            ul
                display: none
                flex-direction: column
                justify-content: center
                align-items: flex-start
                width: 200%
                background-color: white
                box-shadow: -2px -3px 27px 9px #d2d3d990
                position: absolute
                margin:0
                padding:0
                top: 100%
                left: 0px
                z-index: 3
                li
                    border: transparent
                    font-size: 18px
                    color: gray
                    a
                        font-weight: 500
                li:hover a
                    color: $hover__color
        li:first-child
            border-left: transparent
        li:hover > ul
            display: flex

@media(max-width: 1200px)
    nav
        ul
            li
                font-size: 17px
                ul
                    width: 200px
                    li
                        font-size: 16px


@media (max-width: 800px)
    nav
        width: 300px
        height: 100vh
        display: flex
        position: fixed
        top:0
        left:0
        overflow: hidden
        background-color:#fff
        z-index: 2
        transform: translateX(-200%)
        transition: .5s
    nav.opened
        transform: translateX(0)
        ul
            margin:0
            width: 100%
            padding:50px 0
            display: flex
            z-index: 0
            flex-direction: column
            justify-content: flex-start
            li
                padding: 0
                width:100%
                border-left: none
                border-bottom: 1px solid #cdcdcd
                position: relative
                z-index: 0
                flex-direction: column
                a
                    padding: 10px 20px
                &:hover  ul
                    display: flex                    
                ul
                    display: flex
                    padding: 0
                    box-shadow: none
                    position: static
                    top:auto
                    width:300px
                    left:auto
                    li
                        padding: 10px 30px
                        border-bottom: 1px solid #cdcdcd
                        a
                            font-weight: 600
                            padding: 10px
                        &:last-child
                            border-bottom: none

.hamburger-icon
    width: 42px
    height: 40px
    position: fixed
    top: 5px
    left: 10px
    z-index: 5
    display: flex
    flex-direction: column
    justify-content: space-around
    cursor: pointer
    padding: 10px
    &__bar
        transform-origin:0 50%
        display: block
        width: 42px
        border-radius: 3px
        height: 6px
        background-color: #000
        transition:.3s

        &--clicked:nth-child(1)
            transform: rotate(44.3deg)
    
        &--clicked:nth-child(2)
            transform: translateX(-100%)
            opacity: 0
        &--clicked:nth-child(3)
            transform: rotate(-42deg)
