.products
  display: flex
  justify-content: center
  margin:40px auto
.product
  margin:10px
  display: flex
  border:2px solid #e5e5e5
  flex-direction: column
  align-items: center
  justify-content: flex-start
  position: relative
  min-height: 350px
  width: 200px
  img
    width: 80%
    height: auto
  h4
    margin: none
    text-align: center
  .add-product
    width: 100%
    position: absolute
    bottom:0
    background-color: #88c299
    color:#fff
    padding: 10px
    font-family: $main__font
    font-weight: 600
    font-size: 1.4rem
    border: none
    cursor: pointer